@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Righteous&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Righteous', cursive; color: rgb(66, 15, 13);
    background: #f1f1f1;
    background-image: linear-gradient(to left bottom, #f9f8f8, #f1efef, #e9e6e6, #e2ddde, #dad4d5);;
}
    

/*  <!-- Navigation verticale / Left Fixed Navbar --> */



.line {

    position: absolute;
    width:70%;
    height:6px;
    top:13px;
    left: 9px;
    background-color: white;
 }
 .hamburger-menu{
     width: 35px;
     height: 30px;
     position: fixed;
     top: 8px;
     left: 12px;
    visibility: hidden;
     
     cursor: pointer;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     z-index: 100 !important;
     

 }
 
 
.nav-gauche {
    width: 300px;
    height: 100vh;
    min-height: 8px;
    background: rgb(66, 15, 13);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    color: rgb(13, 14, 13);
    font-family: 'Righteous'; 

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    background-image: linear-gradient(to left bottom, #f9f8f8, #f1efef, #e9e6e6, #e2ddde, #dad4d5);        
    
        
}

.visible{
    left: 0 !important;
}


.blocks-menu{
    text-align: left;
    list-style: none;
    margin: 25%;
}
 

.nav-gauche.show{
    left: 0px;
}
.nav-gauche a 
{
    text-decoration: none;
    color: rgb(66, 15, 13);
    line-height: 60px;
    border-bottom: 1px solid rgb(66, 15, 13, 0.1);
    border-left: 3px solid transparent;

}


.nav-gauche a:hover
{
    color: black;
    border-left-color: rgb(66, 15, 13);
}
.lines{
    width: 100%;
    height: 5px;
    background-color: rgb(66, 15, 13);
    transition: all 0.8s;

}
.change .line1{
    transform: rotate(-45deg) translate(-8px, 6px);
}
.change .line2{
    opacity: 0;
}
.change .line3{
    transform: rotate(45deg) translate(-8px, -6px);
}
.cercle-portrait img{

    border-radius: 50%;
}
.logo-cercle img{
    width: 70px;
    height: 70px;
    color: rgb(66, 15, 13);
}


/************************ HOME SECTION **********************/
.accueil {
    background: url(../img/accueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    min-height: 900px;
    width: calc(100% - 300px);
    margin-left: auto;
    position: relative;
}
h1 {
    font-size: 90px;
    font-family: 'Righteous', sans-serif;
    margin: 0 60px;
    padding-top: 210px;
}
.txt-animation {
    font-size: 30px;
    margin: 10px 0 10px 60px;
}
.btn-acc {
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background: rgb(66, 15, 13);
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    margin: 10px 0 0 0;
    border-radius: 2px;
    font-size: 18px;
}
.btn-acc1 {
    margin: 10px 0 0 60px;
}
.btn-acc2 {
    background: transparent;
    border: 2px solid rgb(66, 15, 13);
    color: rgb(66, 15, 13);
    font-weight: 700;
}
.medias {
    display: flex;
    margin-left: 60px;
    margin-top: 30px;
    
}
.media {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.media2 {
    background: transparent;
    border: 2px solid #333;

}
.icone-medias {
    width: 40px;
    display: flex;
    justify-items: end;
    
}

.medias a:hover img {
    filter: invert(100);
}
.btn-rond {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 #333;
    background: #333;
    animation: pulse 1.3s infinite;
}
@keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(255,255,255,0.01);
    }   
}
.logo-btn-rond-acc {
    width: 35px;
}
.presentation {
    width: calc(100%-300px);
    height: 678px;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    
}
.titre-pres {
    margin-bottom: 60px;
}
.container-presentation {
    display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-between;
}
/* .fond-forme{

    background-image: linear-gradient(to right top, #f9f8f8, #f6f4f4, #f3f1f1, #f0eded, #edeaea, #ebe6e6, #eae1e1, #e8dddd, #e7d6d6, #e7cfce, #e6c8c7, #e5c1bf);
    width: 80%;
    height:300px;
    position: absolute;
    /* transform: rotate(-45deg) translateX(100px) translateY(-15px); */
    


.pres-gauche {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;
    margin-left: 50px;
    margin-right: 60px;
    width: 50%;
    font-size: 19px;
}

.pres-droite {
    margin-right: 50px;
    margin-left: 50px;
    width: 400px;
    font-size: 19px;
    list-style-type: none;
}
.liste-presentation li{
    list-style: none
}
hr.h3 {
    border: 1xp solid white;
}
.portfolio {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
    width:30%;
    position: relative;
    transform: translateX(93%);

}
.titre-port {
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px rgb(78, 78, 78);
    
    
}
.cont-portfolio {
        display: grid;
        grid-template-columns: repeat(3,25%);
        grid-gap: 200px;
        
       
    }

.cont-portfolio img {

        height:150px;
}

.item {
    -webkit-box-shadow: 3px 6px 12px 4px rgba(0,0,0,0.78); 
    box-shadow: 3px 6px 12px 4px rgba(0,0,0,0.78);
    border: rgb(107, 78, 77) 1px solid;
    width: fit-content;
}
.btn-projets {
    display: inline-flex;
    width: 150px;
    height: 50px;
    text-decoration: none;
    background: transparent;
    justify-content: center;
    align-items: center;
    color: rgb(66, 15, 13);
    margin: 10px 0 0 0;
    border-radius: 2px;
    font-size: 18px;
    border:rgb(66, 15, 13) 1px solid;
    margin-bottom: 6px;
}
.vague1 {
    
    text-align-last: center;
}
.vague2 {
    text-align-last: center;
}
.vague3 {
    text-align-last: center;

}


.section-range{

    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 50px;
    margin-left:400px;
    margin-right: 400px;
    border-radius: 10px;
    height:fit-content;
    padding: 40px;
}

.grille-skill{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0%;
    padding: 0%;
    width: 700px;
}
.titre-exp{
    text-align-last: center;
    margin-bottom: 20px;

}

.barre-skill{
    height: 18px;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 15px;
    
}
.barre-skill::before{
    content: "";
    background-color: rgb(66, 15, 13);
    display: inline-block;
    padding: 8px;
    border-radius: inherit;
    animation: load 3s 0s;
    -webkit-animation: load 3s 0s;
    -moz-animation: load 3s 0s;
    -o-animation: 3s 0s;
}
.b1::before{
    width: calc(95% - 10px);
}
.b2::before{
    width: calc(75% - 10px);
}
.b3::before{
    width: calc(70% - 10px);
}
.b4::before{
    width: calc(80% - 10px);
}
.b5::before{
    width: calc(70% - 10px);
}
.b6::before{
    width: calc(80% - 10px);
}

.cont-exp-travail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 330px;
}

.flex-cont-bloc-exp {
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 150px;
    grid-column-gap: 100px;
    position: absolute;
    padding-top: 230px;
}

.barre-verticale {
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 150px;
    grid-column-gap: 100px;
    padding-top: 150px;
}

.boule-ico{
    width: 25px !important;
    height: 25px;
    color: rgb(66, 15, 13);
}

@media screen and (max-width: 998px) {
.navbar{
        display: block
    }

    .hamburger-menu{
        visibility: visible;
    }
    .btn-rond {
 display:none;
    }
    .nav-gauche{
        left: -300px;
    }
    .hamburger-menu{
    z-index: 1;
}    
    .accueil{
    width: 100%;
}
    .cont-portfolio{
        display: flex;
        flex-direction: column;
        gap:40px;
        /* margin-left: -400px; */
}
    .container-presentation{
    display: flex;
	flex-direction: column;
    align-items: flex-start;
    
}

    .presentation{
    margin-left: 0%;
}
    .pres-droite{
    margin-top: 10px;
}
    .grille-skill{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 300px;
    
}
    .titre-exp{
    text-align-last: center;
}
    .section-range{
    margin-left:-200px;
    margin-right: -200px;
    
}
    .cont-exp-travail{
        padding-left: 50px;
    }
    /*.flex-cont-bloc-exp{
        padding top: 0;
        margin-top: 10px;
    }
    


