@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Righteous&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Righteous', cursive; color: rgb(66, 15, 13);
    background: #f1f1f1;
    background-image: linear-gradient(to bottom, #161818, #2d4848, #447f7c, #5bbab2, #f97676);
}
    
@media screen and (max-width: 998px) {
    .btn-rond{
        visibility: hidden;
    }
    .burger{
        visibility: visible;
    }
    }
    

    

/*  <!-- Navigation verticale / Left Fixed Navbar --> */
.burger {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 15px;
    z-index: 10px;
    background-color: rgb(66, 15, 13);
    position: absolute;
    transform: translateY(20px);
}

.line {

    position: absolute;
    width:70%;
    height:6px;
    top:13px;
    left: 9px;
    background-color: white;
 }
 
 .sub-line::before{
 
     content:'';
      width:100%;
      position: absolute;
     height:6px;
     top:16px;
     background-color: white;
 
 }
 
 .sub-line::after{
 
     content:'';
      width:100%;
      position: absolute;
     height:6px;
     top:32px;
     background-color: white;
 
 }

.nav-gauche {
    width: 300px;
    height: 100vh;
    min-height: 8px;
    background: rgb(66, 15, 13);
    position: fixed;
    top: 0;
    left: -300;
    z-index: -1;
    transition: all 0.2s ease-in-out;
    color: rgb(13, 14, 13);
    font-family: 'Righteous'; 

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: space-around;
        background-image: linear-gradient(to left bottom, #f9f8f8, #f1efef, #e9e6e6, #e2ddde, #dad4d5);
        
}
.nav-gauche a 
{
    text-decoration: none;

}
.nav-gauche a::before
{
    content: "";
    background-color: cornsilk;
    width: 0;
    height: 2px;
    display: block;
    margin: 10px auto;
}
.nav-gauche a:hover::before
{
    width: 100px;
}
.nav-gauche a::after
{
    content: "";
    background-color: cornsilk;
    width: 0;
    height: 2px;
    display: block;
    margin: 10px auto;
}
.nav-gauche a:hover::after
{
    width: 100px;
}
.cercle-portrait img{

    border-radius: 50%;
}
.logo-cercle img{
    width: 70px;
    height: 70px;
    color: rgb(66, 15, 13);
}


/************************ HOME SECTION **********************/
.accueil {
    background: url(../img/accueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    min-height: 900px;
    width: calc(100% - 300px);
    margin-left: auto;
    position: relative;
}
h1 {
    font-size: 90px;
    font-family: 'Righteous', sans-serif;
    margin: 0 60px;
    padding-top: 210px;
}
.txt-animation {
    font-size: 30px;
    margin: 10px 0 10px 60px;
}
.btn-acc {
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background: rgb(66, 15, 13);
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    margin: 10px 0 0 0;
    border-radius: 2px;
    font-size: 18px;
}
.btn-acc1 {
    margin: 10px 0 0 60px;
}
.btn-acc2 {
    background: transparent;
    border: 2px solid rgb(66, 15, 13);
    color: rgb(66, 15, 13);
    font-weight: 700;
}
.medias {
    display: flex;
    margin-left: 60px;
    margin-top: 30px;
}
.media {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.media2 {
    background: transparent;
    border: 2px solid #333;
}
.icone-medias {
    width: 40px;
    display: flex;
    justify-items: end;
}
.btn-rond {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 #333;
    background: #333;
    animation: pulse 1.3s infinite;
}
@keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(255,255,255,0.01);
    }   
}
.logo-btn-rond-acc {
    width: 35px;
}